#Hometext{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-left: 120px;
    padding-top: 390px;
    animation-name:colorchange ;
    animation-duration: 10s;
    animation-direction:linear ;
    animation-fill-mode:forwards ;
    animation-iteration-count: infinite;
    animation-play-state:running ;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}

#Subhometext{
    text-align: center;
    padding-top: 30px;
}
body{
    animation-name: back;
    background-color:#395B64 ;
    animation-duration: 10s ;
    animation-direction:linear ;
    animation-fill-mode:forwards ;
    animation-iteration-count: infinite;
    animation-play-state:running ;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}
@keyframes back{
    0%{
        background-color:#395B64 ;
    }
    50%{
        background-color: #A5C9CA;
    }
    100%{
        background-color: #E7F6F2;
    }
}

@keyframes colorchange {
    0%{
        color: #E7F6F2;
    }
    50%{
        color: #395B64;
        
    }
    100%{
        color: #A5C9CA;
    }
}