*{
    display: flexbox;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav{
    margin: 0;
    background-color: grey;
    display: flex;
    position: fixed;
    padding-bottom: 12000px;
}

#logo{
    margin-top: 40px;
    margin-left: 20px;
    margin-left: 20px;
    margin-bottom: 80px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
   
}

.top{
    color: white;
    background-color: rgba(50,50,50,0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;

}


ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav a{
    text-align: center;
    margin: 0;
    margin-left: 20px;
    margin-top: 60px;
    margin-right: 40px;
    text-decoration: none;
    font-family: 'Reem Kufi Ink', sans-serif;
    font-size: 20px;
}

#prueba{
    margin-left: 200px;
}

.tittle{
    margin-left:0%;
    padding-top: 70px;
    font-size: 70px;
}

.smallquestion{
    color: black;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-right: 400px;
    margin-left: 400px;
}
.answer{
    font-size: 20px;
    margin-left:center;
    margin-right: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 300px;
    margin-left: 300px;
}

.smallquestion{
    margin-top: 50px;
}

body{
    background-image: url(media/milky-transformed.png);
    animation-name: back;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    animation-duration: 120s ;
    animation-direction:linear ;
    animation-fill-mode:forwards ;
    animation-iteration-count: infinite;
    animation-play-state:running ;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
}
@keyframes back{
    20%{
        background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0)), url(media/milky.png);
        background-size: cover;
    }
    40%{
        background-image: url(media/milky2.png);
    }
    60%{
        background-image: url(media/milky3.png);
    }
    80%{
        background-image: url(media/milky4.png);
    }
    100%{
        background-image: url(media/milky4.png);
    }
}