
.backgroundimage{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: fixed;
}

.container{
    color: white;
    background-color: black;
    opacity: 0.8;
    padding-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 800px;
}

.text{
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 25px;
}

.title{
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
}

img{
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

video{
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.image6{
    width: 14.56%;
    margin: 0;
}

.images6{
    padding-top: 20px;
    margin-left: 10%;
}

.image3{
    margin: 0;
    margin-left: 10%;
    margin-top: 5%;
    width: 20%;
   
}

#pdfcalistenia22{
    margin-left: 10%;
    width: 80%;
    height: 900px;
    size: 200px;
    margin-top: 2%;
}

.code{
    font-size: 3px;
}

#red{
    color: red;
}

#blue{
    color: blue;
    font-size: 30px;
}

#video1{
    width: 20%;
}

