*{
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav{
    margin: 0;
    background-color: grey;
    display: flex;
    position: fixed;
    padding-bottom: 12000px;
}

#logo{
    margin-top: 40px;
    margin-left: 20px;
    margin-left: 20px;
    font-size: 30px;
   
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

nav a{
    text-align: center;
    margin: 0;
    margin-top: 180px;
    margin-right: 40px;
    text-decoration: none;
}

#prueba{
    margin-left: 200px;
}

.smalltittle{
    margin-left:0%;
    padding-top: 70px;

}
.middle{
    margin-left:50%;
    margin-right: auto;
    text-align: justify;
}